@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;1,300;1,400&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
/********************************
*        GLOBAL SETTING       *
********************************/
:root{
    font-size: 10px;
}
main{
    position: relative;
}

section:not(.hero){
    padding: 10rem 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: orange;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    border-radius: 10rem;
    border: 1px solid transparent;
    transition: all 0.3s;
    text-align: center;
}
.btn:hover{
    background-color: transparent;
    border: 1px solid orange;
}

.section-title h3{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
    word-spacing: .5rem;
    margin-bottom: 4rem;
}
.section-title h3::after{
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: orange;
    margin: .75rem auto;
}
.text-orange{
    color: orange;
}
/********************************
*        HEADER SECTION        *
********************************/
.header{
    position: fixed;
    width: 100%;
    padding: 1rem 6rem;
    /* background-color: #081c35; */
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: transparent; */
    z-index: 10;
}

.logo img{
    width: 6rem;
}

.logo i{
    font-size: 3.5rem;
    color: orange;
}

nav ul{
    display: flex;
    column-gap: 2.5rem;
    list-style: none;
}
nav ul li{
    border-bottom: 1px solid transparent;
    padding-bottom: 0.3rem ;
    transition: all .3s;
}
nav ul li:hover{
    border-bottom: 1px solid orange;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #FFF;
}

.smile-icon{
    color: #fff;
    display: none;
    color: #fff;
    font-size: 3rem;
}

/********************************
*         HERO SECTION          *
********************************/
.hero{
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: -1; */
    width: 100%;
    height: 100vh;
    /* background-color: rgb(136, 162, 184); */
    background-color: rgb(136 162 184 / 76%);
    display: flex;
    justify-content: left;
    align-items: left;
    /* padding-top: 8rem;
    padding-left: 5rem; */

    /* background-image: linear-gradient(to right top, #394c40, #265551, #015c6b, 
    #165e86, #515b94, #865994, 
    #b05885, #cb5f6b, #d97e55, 
    #d1a44c, #b6c961, #86ec98); */
    /* background-image: url(../img/homepage.jpg);
    background-position: center;
    background-size: cover; */

    background-image: url(../img/homepage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-attachment: fixed ;
}

.hero-container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6rem;
}

.hero-text-box{
    /* border: 1PX solid orangered; */
    padding-left: 1rem;
}

.hero-text-box .hero-heading {
    font-size: 6rem;
    color: gold;
    margin-bottom: 2rem;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.hero-text-box .hero-description{
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #fff;
    line-height: 2rem;
    word-spacing: .5rem;
}
img{
    width: 30vw;
}

.hero-image-box{
    width: 40rem;
}

/********************************
*         MENU SECTION          *
********************************/
.menu {
    background-image: url(../img/pattern2.jpg);
    
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem 4rem;

}

.menu .card{
    position: relative;
    perspective: 50rem;
    width: 22rem;
    height: 35rem;
    border-radius: 1rem;
}

.menu .front-card, .menu .back-card{
    position: absolute;
    top: 0;
    left: 0;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #ddd;
}

.menu .front-card{
    transform:  rotateY(0deg);
}
.menu .back-card{
    transform:  rotateY(180deg);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.menu .card:hover .front-card{
    transform: rotateY(180deg);
    box-shadow: 0px 0px 0px #ddd;
}
.menu .card:hover .back-card{
    transform: rotateY(360deg);
    box-shadow: 0px 0px 0px #ddd;
}

.menu-img-box{
    /* height: 60%; */
    border-radius: 1rem 1rem 0 0;
}
.menu-img-box img{
    width: 100%;
    transform: scale(1);
    padding-top: 1rem;
}

.menu-description-box{
    text-align: center;
    padding: 1rem;
}
.menu-description-box .prod-name{
    font-size: 1.8rem;
    margin-bottom: 1rem 2rem;
}

.prod-discription{
    text-align: left;
    word-break: break-all;
    margin-bottom: 1rem;
    color: #333;
}

.menu-description-box .prod-price{
    font-size: 2.4rem;
    font-weight: 500;
    color: orange;
    margin-bottom: 1rem;
}

.cart-btn {
    display: block;
    margin: 0 auto;
    margin-top: 5rem;
}

.cart-btn:hover{
    color: orange;
}

/*****************************************
*       MEMBERSHIP SECTION SETTING       *
******************************************/
.membership{
    background-image: linear-gradient(#0005, #0005), url(../img/pattern3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeats;
}
.membership .section-title{
    color: #fff;
    margin-bottom: 7rem;
}

.membership-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;

}
.membership-card{
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    width: 250px;
    background-color: #fff;
    transition: all 0.5s;
}

.membership-card:hover{
    transform: translateY(1rem);
}

.membership-plan-name{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif; 
    font-weight: 500;
    text-transform: uppercase;
    background-color: #fff;
    color: #bd1477;
    margin-bottom: 1.5rem;
}

.membership-plan-icon{
    font-size: 7rem;
    color: rgb(240, 104, 0);
}

.membership-price{
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}

.membership-price .plan-price{
    display: block;
    font-size: 4rem ;
    font-weight: 700;
    color: #bd1477;
    line-height: 1;
}
.membership-price .plan-price sup .icofont-dollar{
    color: #333;
    font-size: 2rem;
    position: relative;
    bottom: 1rem;
}

.monthly-charge {
    font-size: 1.6rem;
    font-weight: 700;
    color: #a1a1a1;
    line-height: 1;
}

.membership-plan-description{
    font-size: 1rem;
    color: #555;
    font-weight: 700;
}

.btn-container .msp-btn{
    display: inline-block;
    padding: 0.75rem 2rem;
    border: 1px solid hotpink;
    border-radius: 0.5rem;
    text-decoration: none;
    color: hotpink;
    margin-top: 2rem;
    font-size: 1s;
    font-weight: 700;
}

.btn-container .msp-btn:hover{
    background-color: hotpink;
    color: #fff;
}

.wellness .msp-btn{
    background-color: hotpink;
    color: #fff;
}
.wellness .msp-btn:hover {
    background-color: hotpink;
    color: #fff;
}

/************************************************
*                FEATURED SECTION               *
*************************************************/
.companies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 5rem;
}

.companies img{
    height: 10rem;
    filter: grayscale(1);
    transition: 1s;
    
}

.companies img:hover{
    filter: grayscale(0)
}

/***********************************
*         GALLERY SECTION          *
************************************/
section.gallery{
    padding: 0;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery-img-box{
    width: 20%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.img-container img{
    width: 100%;
    transition: all 0.3s;
    transform: scale(1.1);
    opacity: 0.5;
    
}
.img-container img:hover{
    transform: scale(1.2);
    opacity: 1;
}

/********************************
*     Testimonials SECTION      *
********************************/
.testimonials-conatiner{
    max-width: 90rem;
}

.testimonials-box{
    text-align: center;
    background-color: rgba(234, 144, 18, 0.64);
    padding: 7rem;
    border-radius: 1rem;
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter:blur(.5rem)
}

.testimonials{
    /* background-color: #f3f3f3;
    background-image:url(../img/homepage4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeats; */
    position: relative;
    background-color: #000;
}

.testimonials .background-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* opacity: .5; */
}

.testimonials .background-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(.2) hue-rotate(35deg);
}

.testimonials-box .user-img img{
    width: 7rem;
    border-radius: 50%;
}

.testimonials-box .user-name{
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 8rem;
    color: #fff;
}

.testimonials-box .user-comment{
    font-size: 1.2rem;
    font-style: italic;
    line-height: 2;
    text-align: left;
    position: relative;
    color: #fff;
}

.testimonials-box .user-comment i{
    display: inline-block;
    position: absolute;
    font-size: 2.5rem;
    top: -1.5rem;
    left: -2.5rem;
    color: #fff;
    font-style: italic;
}


/********************************
* FEATURED PRODUCT  SECTION      *
********************************/
.featured-prod-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 4rem;
}

.featured-product-card{
    /* border: 1px solid red; */
    width: 500px;
    border-radius: 1rem;
    overflow: hidden;
    /* transition: all .5s; */
}

.featured-product-card:hover .featured-prod-box{
    transform: translateY(0rem);
}

.product-img-box{
    width: 100%;
    position: relative;
}

.product-img-box img{
    width: 100%;
    border-radius: 1rem;
    transition: all .5s;
}

.featured-product-card:hover .product-img-box img {
    filter: brightness(.5) sepia(1);
}

.featured-prod-box{
    transform: translateY(20rem);
    transition: all .5s;
}

.featured-product-name, 
.featured-product-description{
    position: absolute;
    color: #fff;
}

.featured-product-name{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    bottom: 10rem;
    font-weight: 700;
}
.featured-product-description{
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    bottom: 8rem;
}

/********************************
*      Contact us SECTION      *
********************************/
section.contact-us {
    background-image: url(/img/Noodles.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.contact-us {
    color: #fff;

}

.contact-us-box{
    padding: 3rem 0;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    backdrop-filter: blur(1rem) ;
    -webkit-backdrop-filter:blur(1rem)
}

.contact-form { 
    width: 100%;
}
.contact-form h3{ 
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 2rem;
    font-weight: 400;
}

.contact-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 0 8rem;
}

.contact-form form input, .contact-form form textarea{
    width: 100%;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.contact-form form input:not([type=submit]), .contact-form form textarea{
    border: 1px solid hotpink;
    transition: all .3s;
}
.contact-form form input:not([type=submit]):focus, .contact-form form textarea:focus{
    /* border-bottom: 2px solid hotpink; */
    box-shadow: 0px 0px 0px 5px hotpink;
}

[type=submit]{
    margin-top: 2rem;
    padding: .25rem 1rem;
}

.side-image img{
    width: 100%;
}

.user-data{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: 5rem;
}

.users-images{
    display: flex;
    justify-content: center;
    align-items: center;
}
.users-images img{
    width: 5rem;
    border-radius: 50%;
    border: .3rem solid #fff;
    margin-right: -2.2rem;
}

.user-text{
    color: #000;
    font-size: 1.2rem;
    word-spacing: .3rem;
}

.user-text-emphasis{
    color: orange;
    font-size: 1.5rem;
    font-weight: bold;
}

/********************************
*         FOOTER SECTION      *
********************************/
footer{
    padding: 2rem;
    background-color: #000;
}
.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.contacts ul li{
    background-color: #333;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contacts ul li a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    transition: all .3s;
}

.contacts ul li .phone:hover{
    color: hotpink;
}
.contacts ul li .skype:hover{
    color: #00aff0;
}
.contacts ul li .whatsapp:hover{
    color: #25d366;
}
.contacts ul li .facebook:hover{
    color: #1877f2;
}
.contacts ul li .instagram:hover{
    color: #c13584;
}
.contacts ul li .twitter:hover{
    color: #1da1f2;
}
.contacts ul li .telegram:hover{
    color: #0088cc;
}

.right{
    text-align: center;
}
.right small{
    color: #fff;
    word-spacing: .2rem;
    letter-spacing: .5pxs;
    line-height: 1;
}


/********************************
*        RESPONSIVE LAYOUT      *
******************************* */

@media(max-width: 1200px){
    /* .hero-text-boxr{
        padding: 100rem;
    } */
    .hero-text-box{
        padding-left: 1rem;
    }
}

@media(max-width: 1100px){
    .hero-container{
        padding: 0 5rem;
    }
}

@media(max-width: 1024px){
    .hero-container{
        padding: 0 4rem;
    }

    .menu-list, .companies{
        padding: 0 2rem;
    }

    .featured-product-card{
        max-width: 450px;
    }
}

@media(max-width: 900px){
    nav ul{
        display: none;
    }

    .smile-icon{
        display: block ;
        color: #fff;
        font-size: 3rem;
    }

    .testimonials-box{
        margin: 0 5rem;
    }
}

@media(max-width: 768px){
    .btn{
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }

    .hero-container{
        row-gap: 3rem;
        flex-direction: column-reverse;
    }

    .hero-image img{
        width: 20rem;
    }

    .hero-text-box .hero-heading{
        font-size: 2.5rem;
    }

    .hero-text-box .hero-description{
        font-size: 1rem;
        word-spacing: 0.3rem;
    }

    .featured-product-card{
        max-width: 250px;
    }
}

@media(max-width: 480px){
    .gallery-img-box{
        width: 50%;
    }

    .featured-product-card{
        max-width: 100%;
        padding: 0 2rem;
    }

    .conatct-us .container{
        padding: 0 3rem;
    }
    .user-data{
        flex-direction: column;
        row-gap: 2rem;
    }

    .contacts{
        flex-direction: column;
        row-gap: 2rem;
    }
}

/* @media(max-width: 320px){
    .section-title h3{
        font-size: 1.75rem;
    }

    .testimonials-box{
        padding: 4rem;
        margin: 0 2rem;
    }

    .contact-form{
        padding: 0 2rem;
    }

    .contact-form form{
        padding: 0;
    }

    .user-text{
        text-align: center;
    }
} */



/* .membership-tier{
    background-color: #fff;
    color: #fff;
    padding: 0.2rem 1rem;
    width: 10rem; 
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    left: 0rem;
    border-radius: 0 2rem 2rem 0;
    background-image: linear-gradient(to right, #394c40, #265551, #015c6b, 
    #165e86, #515b94, #865994, 
    #b05885, #cb5f6b, #d97e55, 
    #d1a44c, #b6c961, #86ec98);;
}

.membership-description{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2rem;
    word-break: break-all;
}

.membership-benifit-list{
list-style: none;
font-size: 1.2rem;
margin: 4rem 0;
border-top: 1px solid rgb(150, 53, 53);
border-bottom: 1px solid rgb(150, 53, 53);
}

.membership-benifit-list li {
    margin: 1rem 0;
    font-size: 1.5rem;  
}

.membership-benifit-list .icofont-check-circled{
    font-size: 1.5rem;
    color: #86ec98 ;
    display: inline;
    margin-right: 2rem;
}

.membership-plan{
    text-align: center;
} 
.membership-price{
    font-size: 2.5rem;
}

.cart-btn{
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
} */